<div class="row">
  <div class="col-md-2">
    <h1>Prueba</h1>
    <hr />
    <div
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      class="nav-pills flex-column"
      orientation="vertical"
    >
      <ng-container ngbNavItem="top">
        <button ngbNavLink [routerLink]="['./centros-trabajo']">
          Centros Trabajo
        </button>
      </ng-container>
      <ng-container ngbNavItem="middle">
        <button ngbNavLink [routerLink]="['./empleados']">Empleados</button>
      </ng-container>
      <ng-container ngbNavItem="bottom">
        <button ngbNavLink [routerLink]="['./provincias']">Provincias</button>
      </ng-container>
    </div>
  </div>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
